# URL da API GraphQL
# Emulador Android: http://10.0.2.2:3000/graphql
# Dispositivo físico: http://<SEU_IP_LOCAL>:3000/graphql
API_URL=http://10.0.2.2:3000/graphql

# Pagar.me (public key for client-side card tokenization)
EXPO_PUBLIC_PAGARME_PUBLIC_KEY=pk_test_YOUR_PUBLIC_KEY
